
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper function to check if a user is signed in
    function isSignedIn() {
      return request.auth != null;
    }

    // Helper function to check if the request is from the owner of the data
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    // User Profile: Users can read any profile but only write to their own.
    match /users/{userId} {
      allow read: if isSignedIn();
      allow write: if isOwner(userId);

      // Job Applications: Users can only read and write their own job applications.
      match /jobApplications/{jobApplicationId} {
        allow read, write, delete: if isOwner(userId);
      }

      // Pipeline Stages: Users can only read and write their own pipeline stages.
      match /pipelineStages/{pipelineStageId} {
         allow read, write, delete: if isOwner(userId);
      }
    }
  }
}
